<div class="flex items-center justify-center min-h-screen">
    <div class="p-10 bg-white rounded-3xl shadow-xl w-full sm:w-1/3">
      <div class="flex justify-center items-center mb-8">
        <img src="/logo-w-name.png" alt="Brainacs Logo" class="w-4/6 h-auto" />
      </div>
      <div>
        <form (submit)="onSubmit()" class="space-y-6 p-8 rounded-lg bg-[#B2D9D8] w-full">
          <div>
            <label for="user" class="block text-[#004C4C] font-semibold text-lg">User (Email)</label>
            <input 
              type="text" 
              id="user" 
              [(ngModel)]="email" 
              name="user" 
              placeholder="example@example.com" 
              class="w-full p-2 border-2 border-[#004C4C] rounded-md focus:outline-none focus:ring-2 focus:ring-[#004C4C] text-lg"
            />
            <div *ngIf="errors.email" class="text-red-500 text-sm mt-1">Please enter a valid email address.</div>
          </div>
          <div>
            <label for="password" class="block text-[#004C4C] font-semibold text-lg">Password</label>
            <input 
              type="password" 
              id="password" 
              [(ngModel)]="password" 
              name="password" 
              placeholder="password123" 
              class="w-full p-2 border-2 border-[#004C4C] rounded-md focus:outline-none focus:ring-2 focus:ring-[#004C4C] text-lg"
            />
            <div *ngIf="errors.password" class="text-red-500 text-sm mt-1">Password is required.</div>
          </div>
          <div>
            <button 
              type="submit" 
              class="w-full py-2 bg-[#004C4C] text-white font-semibold rounded-md hover:bg-[#003737] focus:outline-none focus:ring-2 focus:ring-[#003737] text-lg"
            >
              Sign In
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>