<div class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50">
  <div class="w-[500px] bg-white p-8 rounded-lg shadow-md">

    <div class="flex justify-center mb-6">
      <img src="/contenido.png" alt="Imagen ilustrativa" class="w-auto h-[80px] object-contain">
    </div>

    <div class="flex justify-between mb-6">
      <button type="button" class="w-full bg-[#004C4C] text-white font-semibold py-2 px-4 rounded-lg hover:bg-[#003838] mr-2"
        (click)="onAddContenidoIA()">
        Generar contenido
      </button>
      <button type="button" class="w-full bg-[#004C4C] text-white font-semibold py-2 px-4 rounded-lg hover:bg-[#003838]" 
        (click)="closeModal()">
        Cancelar
      </button>
    </div>

    <div class="mb-4">
      <label for="archivo" class="block text-gray-700 font-medium mb-2">Subir archivo</label>
      <input #fileInput type="file" class="w-full p-3 border rounded-md focus:outline-none focus:ring-2 focus:ring-[#004C4C]" />
    </div>    

    <div class="flex justify-end mt-6">
      <button 
        (click)="onAddContenido()"
        type="button" 
        class="bg-[#004C4C] text-white font-semibold py-2 w-40 rounded-lg hover:bg-[#003838] transition duration-300" [disabled]="loaderService.loading$ | async">
        Aceptar
      </button>
    </div>    
  </div>
</div>