
  
  <div class="navbar">
    <span>Matemáticas I &gt; 4D</span>
    <nav>
      <a [routerLink]="['/actividades']">Actividades</a>
      <a [routerLink]="['/temario']">Temario</a>
      <a [routerLink]="['/alumnos']">Alumnos</a>
    </nav>
  </div>
  
  <div class="content">
    <h2>Actividades</h2>
    <div class="activity-list">
      <div class="activity-item">
        <h3>Primer Parcial</h3>
        <p>Hola Mundo: Primer Hola Mundo</p>
        <i class="fa fa-ellipsis-v"></i>
      </div>
    </div>
    <button class="create-button">+ Crear</button>
  </div>
  