<div class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center">
  <div class="bg-white p-8 rounded-lg w-1/3 max-w-md">
    <h2 class="text-3xl font-bold text-teal-600 mb-6 text-center">Detalles del Usuario</h2>
    <img [src]="imagen" alt="Foto del usuario" class="w-24 h-24 rounded-full mx-auto mb-6">
    <div class="text-center">
      <p class="text-lg mb-4"><strong>Usuario:</strong> {{usuario.usuario}}</p>
      <p class="text-lg mb-4"><strong>Nombre:</strong> {{usuario.nombre}}</p>
      <p class="text-lg mb-4"><strong>Apellido Paterno:</strong> {{usuario.apellido_p}}</p>
      <p class="text-lg mb-4"><strong>Apellido Materno:</strong> {{usuario.apellido_m}}</p>
      <p class="text-lg mb-4"><strong>Correo:</strong> {{usuario.correo_electronico}}</p>
    </div>
    <button (click)="closeModal()" class="mt-6 w-full py-2 bg-[#004C4C] text-white rounded-md hover:bg-red-600 text-lg">Cerrar</button>
  </div>
</div>
