<div class="fixed inset-0 bg-gray-800 bg-opacity-50 flex justify-center items-center z-50">
  <div class="bg-white rounded-lg shadow-xl max-w-lg w-full p-6 relative">
    
    <button (click)="onCloseModal()" class="absolute top-4 right-4 text-gray-500 hover:text-red-700 transition duration-300">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
      </svg>
    </button>

    <div class="flex justify-start items-start mt-8">
      <img src="/hacer-alt.png" alt="Tareas" class="w-10 h-10">
      <h2 class="text-2xl font-semibold text-teal-800 ml-4">{{ activityDetails?.tema || activityDetails?.subtema }}</h2>
    </div>


    <div class="mt-4">
      <p class="text-gray-700 text-lg">{{ activityDetails?.subtema }}</p>
    </div>

    <div class="mt-6">
      <button (click)="onContentSupportClick(activityDetails?.contenido)" class="flex items-center bg-teal-50 text-teal-600 px-4 py-2 rounded-lg hover:bg-teal-100 transition duration-300">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 17v-6h6m-3 3l-3-3m3 3l3-3" />
        </svg>
        Contenido de Apoyo
      </button>
    </div>

    <div class="mt-8 bg-teal-50 p-6 rounded-lg" *ngIf="userType === 'alumno'">
      <h3 class="text-teal-800 font-semibold mb-4">Subir Actividad</h3>
      
      <!-- Loader -->
      <div *ngIf="loaderService.loading$ | async" class="fixed inset-0 bg-gray-900 bg-opacity-75 flex items-center justify-center z-50">
        <div class="animate-spin rounded-full h-16 w-16 border-t-4 border-teal-600"></div>
      </div>
      
      <div class="flex flex-col space-y-4">
        <!-- Label and file input -->
        <label for="file-upload" class="block bg-teal-600 text-white text-center font-medium py-2 rounded-lg cursor-pointer hover:bg-teal-700 transition duration-300">
          Seleccionar Archivo
        </label>
        <input id="file-upload" type="file" (change)="onFileSelected($event)" class="hidden">
        
        <!-- File name display -->
        <p class="text-gray-500 text-center">
          {{ selectedFile?.name || 'Sin archivos seleccionados' }}
        </p>
    
        <!-- Submit button -->
        <button 
          (click)="onSubmitActivity()"
          class="bg-teal-600 text-white text-center font-medium py-2 rounded-lg hover:bg-teal-700 transition duration-300">
          Aceptar
        </button>
      </div>
    </div>
    

    <div *ngIf="userType === 'docente'" class="mt-6 flex justify-center space-x-2">
      <button (click)="onContentClick()" class="px-4 py-2 bg-[#004C4C] text-white rounded-lg hover:bg-teal-700 transition duration-300">Contenido</button>
      <button (click)="onEntregasClick()" class="ml-2 px-4 py-2 bg-gray-300 text-gray-700 rounded-lg hover:bg-gray-400 transition duration-300">Entregas</button>
    </div>
  </div>
</div>

<div *ngIf="isSupportContentOpen" class="fixed inset-0 bg-gray-800 bg-opacity-50 flex justify-center items-center z-50">
  <div class="bg-white rounded-lg shadow-xl max-w-lg w-full p-6 relative">
   
    <button (click)="onCloseSupportContent()" class="absolute top-4 right-4 text-gray-500 hover:text-red-700 transition duration-300">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
      </svg>
    </button>

    <h2 class="text-2xl font-semibold text-teal-800">Contenido de Apoyo</h2>
    <div *ngIf="activitySupportFile" class="mt-4">
      <img *ngIf="isImage(activitySupportFile)" [src]="activitySupportFile" alt="Contenido de Apoyo" class="w-full h-auto mt-4" />
      <iframe *ngIf="!isImage(activitySupportFile)" [src]="activitySupportFileSafe" class="w-full h-96" frameborder="0"></iframe>
    </div>
  </div>
</div>
