<div class="w-full max-w-xs bg-white rounded-lg shadow-md overflow-hidden relative">
    <div class="bg-[#004C4C] text-white px-4 py-2 flex justify-between items-center">
      <h3 class="text-lg font-semibold">{{ subjectName }}</h3>
    </div>
  
    <div class="p-4 relative min-h-[200px]">
      <p class="text-gray-600">Contenido de la tarjeta.</p>
  
      <div class="absolute bottom-4 right-4">
        <button (click)="toggleModal()" class="text-gray-400 hover:text-gray-600">
          <img class="h-8" src="./menu_1.png" alt="Menú de opciones" />
        </button>
  
        <app-menu-modal
          *ngIf="showModal"
          [showModal]="showModal"
          (closeModal)="showModal = false"
          (optionSelected)="handleOption($event)"
          class="modal-style">
        </app-menu-modal>
      </div>
    </div>
  </div>  