<div 
  class="p-4 cursor-pointer mb-4" 
  (click)="onCardClick()">
  <div class="w-full h-full bg-white border-2 border-[#004C4C99] rounded-lg shadow-md p-6 relative">
    <div class="flex justify-between items-center px-4 rounded-lg">
      <h3 class="text-lg font-semibold text-[#00000099]">{{ cardData?.tema || 'Tema de actividad' }}</h3>
    </div>
    <div class="p-2 px-8">
      <p class="text-black font-semibold text-lg">{{ cardData?.subtema || 'Subtema de actividad' }}</p>
    </div>
    <div class="absolute bottom-4 right-4" *ngIf="userType !== 'alumno'">
      <img src="./menu_1.png" alt="menu de opciones" class="w-auto h-8">
    </div>
  </div>
</div>