
<div class="w-full text-gray-500 py-4 px-6 flex items-center justify-around shadow-md">

    <div class="flex items-center space-x-2">
      <h1 class="text-xl font-semibold whitespace-nowrap overflow-hidden overflow-ellipsis">Matematicas I</h1>
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" />
      </svg>
    </div>
  
      <button class="text-[#004C4C] hover:underline">Actividades</button>
      <button class="text-[#004C4C] hover:underline">Temario</button>
      <button class="text-[#004C4C] hover:underline">Alumnos</button>
  </div>