<div class="p-4">
  <div class="w-full h-full bg-white border-2 border-[#004C4C99] rounded-lg shadow-md p-6 relative cursor-pointer"
       (click)="openModal({name: 'Primer parcial', description: 'Descripción de la actividad: Hola Mundo'})">
    
    <div class="px-4 py-2 flex justify-between items-center rounded-lg">
      <h3 class="text-lg font-semibold text-[#00000099]">Primer parcial</h3>
    </div>

    <div class="p-4">
      <p class="text-black font-semibold">Nombre actividad: Hola mundo</p>
    </div>
  </div>
</div>

<app-actividad-modal 
  *ngIf="isModalVisible"  
  [activityDetails]="activity" 
  (close)="closeModal()"
  (submitActivity)="handleSubmitActivity($event)">
</app-actividad-modal>
