<div class="flex flex-col items-center w-full p-6">
    <div class="flex items-center justify-between w-10/12 pb-6">
      <p class="text-3xl font-bold text-[#004C4C]">Actividades</p>
    </div>
  
  <div class="w-10/12">
    <app-generic-card 
      *ngFor="let activity of activities" 
      [cardData]="activity" 
      cardType="activity" 
      (openModal)="openActivityModal(activity)">
    </app-generic-card>
  </div>
  
  <app-card-activity
    *ngIf="isModalOpen"
    [activityDetails]="selectedActivity"
    userType="alumno"
    (close)="closeActivityModal()">
  </app-card-activity>

  
  </div>