<div class="w-full min-h-screen p-4">
    <div class="w-full h-full bg-white rounded-lg shadow-md p-6 relative">
      
      <div class="bg-[#004C4C] text-white px-4 py-2 flex justify-between items-center">
        <h3 class="text-lg font-semibold">Primer parcial</h3>
      </div>
  
      <div class="p-4">
        <p class="text-gray-600">Nombre actividad: Hola mundo</p>
      </div>

      <div class="absolute bottom-4 right-4">
        <button class="text-gray-400 hover:text-gray-600">
          <img src="./menu_1.png" alt="menu de opciones" class="w-8 h-8">
        </button>
      </div>
    </div>
  </div>
  